.App {
  text-align: center;
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.table-container {
  display: flex;
  justify-content: space-between;
}

table {
  border: 1px solid black;
  padding: 15px;
  text-align: left;
} 

th, td {
  border: 1px solid black;
  width: 600px;
  height: 50px;
  overflow: hidden;
}